*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

aside, main{
    float: left;
}

aside{
    width: 25%;
    margin-top: 50px;
}

main{
    width: 50%;
}

input{
    padding: 5px;
    margin: 15px 0;
    font-size: 18px;
}

label{
    margin-right: 15px;
    font-size: 18px;
}

button{
    font-size: 18px;
    padding: 8px 15px;
    margin-right: 15px;
}

.container-chart-m,
.container-chart-s,
.container-chart-q{
    margin: 50px 0;
}

.container-form{
    margin-left: 25px;
}

.container-sales{
    overflow-x: hidden;
}

.row{
    padding: 0 15px;
    margin: 25px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color, .7s;
}

.row.active{
    background-color: rgba(255, 0, 0, 0.3);
}

.row p{
    padding: 5px 0;
}

.row span{
    font-weight: bold;
}

.delete i{
    font-size: 24px;
    color: red;
    cursor: pointer;
    transition: transform, .5s;
}

.delete i:hover{
    transform: scale(1.3);
}

.row.removed {

  -webkit-animation: disapear .5s;
  -webkit-animation-fill-mode: forwards;
  animation: disapear .5s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes disapear{

  50% {

    -webkit-transform: translateX(-5%);
    transform: translateX(-5%);
  }

  100% {
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
  }
}

@keyframes disapear{

  50% {

    -webkit-transform: translateX(-5%);
    transform: translateX(-5%);
  }

  100% {
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
  }
}
